@media (max-width: 845px) {
  body {
    overflow: auto;
  }

  .menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    margin-top: 1.5em;
  }

  .menu-toggle div {
    width: 100%;
    height: 4px;
    background-color: #000;
  }

  .menu-collapse {
    display: none;
  }

  .menu-collapse.menu-open {
    display: flex;
    position: absolute;
    top: 5em;
    right: 1em;
    width: 13em;
    height: 9em;
  }

  nav.menu-open .user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
    position: absolute;
    top: 4em;
    right: 1em;
    width: 100%;
    height: 2em;
    z-index: 1000;
    border-bottom: 1px solid #d9d9d9;
    border-radius: 8px;
  }

  .menu-collapse .botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
} 

@media (max-width: 768px) {
  .container {
    padding: 15px;
    margin: 15px auto;
  }
}

@media (max-width: 475px) {
  .container {
    padding: 10px;
    margin: 10px auto;
  }
}

/* @media (min-width: 1920px) {} */
