@import url(../css/cores.css);
@import url(../css/tipografia.css);

.section-inicial {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-top: 45px;
  max-width: 100%;
  max-height: 100%;
}

.imagem-inicial {
  width: 100%;
  margin-top: 1em;
}

.imagem-inicial2 {
  width: 100%;
  margin-top: 1em;
}

.compromissos {
  margin: 50px;
}

.titulo1 {
  font-family: "Poppins-semibold";
  color: #1e1e1e;
  font-size: 1.4em;
}

.titulo2 {
  font-family: "Poppins-semibold";
  color: #1e1e1e;
  width: 80%;
  margin-left: 15px;
  margin-bottom: 5px;
  font-size: 1.3em;
}

.titulo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.texto1 {
  font-family: "Poppins-regular";
  color: #757575;
}

.texto2 {
  font-family: "Poppins-regular";
  color: #757575;
  width: 80%;
  margin-left: 46px;
}

.lista-compromissos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 50px 35px 65px 35px;
}

.conteudo {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.info-conteudo {
  width: 30px;
}

.imagens {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 5em 10em;
  gap: 15em;
}

.img-inclusao,
.img-facilidade {
  width: 450px;
  height: auto;
}

.campo-img {
  width: 50%;
  margin-left: 3em;
}

.titulo-imagens {
  font-family: "Poppins-semibold";
  color: #1e1e1e;
  margin-top: 1em;
}

.texto-imagens {
  font-family: "Poppins-regular";
  color: #757575;
  width: 85%;
  margin-top: 0.5em;
}

.conjunto-textos {
  width: 90%;
}

/* botao acessibilidade */
/* Botão de acessibilidade */
.accessibility-btn {
  position: fixed;
  top: 15em;
  right: 20px;
  padding: 5px 10px;
  font-size: 18px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Ícone do botão de acessibilidade */
#icon-btn {
  width: 2.5em;
}

.accessibility-btn:hover {
  background-color: #0056b3;
}

/* Menu de acessibilidade estilo dropdown */
.accessibility-menu {
  display: none;
  position: fixed;
  top: 20em;
  right: 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 10px;
  width: 14em; /* Aumentar um pouco a largura */
}

.accessibility-menu.show {
  display: block;
}

/* Estilos das opções dentro do menu de acessibilidade */
.accessibility-option {
  font-family: "Poppins", sans-serif; /* Certifique-se que a fonte esteja carregada corretamente */
  width: 100%; /* Ajusta para ocupar a largura total do menu */
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  background-color: #D9D9D9;
  color: #000;
  border: none;
  border-bottom: 1px solid #ccc;
  margin: 5px 0;
  text-align: left;
}

.accessibility-option:hover {
  background-color: #ccc; /* Um leve destaque ao passar o mouse */
}

.accessibility-option:last-child {
  border-bottom: none;
}

/* Estilos para o modo de alto contraste */
.high-contrast {
  background-color: #121212;
  color: #fff;
}

.high-contrast nav {
  background-color: #121212;
}

.high-contrast #logo-nav a,
.high-contrast .menu-collapse .botoes a,
.high-contrast .footer-container #titulo-paginas,
.high-contrast .footer-container #redes_sociais-titulo,
.high-contrast .footer-container #contato-titulo,
.high-contrast .footer-container #links-footer,
.high-contrast .titulo1,
.high-contrast .texto1,
.high-contrast .titulo2,
.high-contrast .texto2,
.high-contrast .titulo-imagens,
.high-contrast .texto-imagens {
  color: #fff;
}

.high-contrast .footer-container {
  background-color: black;
}

/* Estilos para ajuste de fonte */
.font-size-large {
  font-size: 18px;
}

.font-size-small {
  font-size: 14px;
}
