/* Responsividade para telas menores que 1024px */
@media (max-width: 1024px) {
  .campo-perfil,
  .campo-favoritos,
  .campo-comentarios {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #editar-perfil {
    margin: 1em 0;
  }

  .campo-locais {
    flex-wrap: wrap;
    gap: 2em;
  }

  .lugar {
    width: 100%;
    height: auto;
  }

  .grupo-comentarios {
    width: 100%;
    gap: 2em;
  }

  .comentario-perfil {
    width: 100%;
  }
}

/* Responsividade para telas menores que 768px */
@media (max-width: 768px) {
  .modal-content {
    margin: 4.5em 0 0 25em;
  }

  .campo-perfil {
    width: 90%;
  }

  #perfil-usuario {
    margin: 1em 0;
  }

  .textos .nome-usuario {
    font-size: 20px;
  }

  #editar-perfil {
    margin: 1em auto;
  }

  .campo-favoritos {
    height: 86em;
  }

  .campo-comentarios {
    height: 80em;
  }

  .campo-favoritos,
  .campo-comentarios {
    margin: 1em 0;
  }

  .campo-locais {
    width: 27em;
    height: 45em;
    justify-content: space-around;
  }

  .lugar {
    width: 90%;
    height: 25em;
  }

  .grupo-comentarios {
    width: 25em;
  }

  .logo-footer {
    display: none;
  }

  .descricao-footer {
    margin: 1em;
    gap: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .redes-sociais {
    white-space: nowrap;
  }

  .copyright {
    bottom: 0;
  }

  /* Modal Editar Perfil */
  .modal-content-config {
    border-radius: 10px;
    width: 22em;
    height: 85vh;
  }

  .modal-content-config h2 {
    margin-top: 35px;
  }

  .form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .form-row {
    display: flex;
    flex-direction: column;
  }

  .form-group {
    display: flex;
    flex-direction: column;
  }

  .calendar-icon {
    display: none;
  }
}

/* Responsividade para telas menores que 480px (celulares) */
@media (max-width: 480px) {
  .modal-content {
    margin: 4.5em 0 0 10em;
  }

  .campo-perfil {
    width: 100%;
    height: 25em;
    margin: 0 0 2em 0;
    text-align: center;
  }

  .campo-favoritos,
  .campo-comentarios {
    width: 100%;
    margin: 1em 0;
  }

  .comentario-perfil {
    width: 100%;
  }

  .campo-locais {
    width: 25em;
  }

  .grupo-comentarios {
    width: 20em;
  }

  .footer-container {
    height: 45em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .descricao-footer {
    margin: 1em;
    gap: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .paginas {
    width: 10em;
    height: 17em;
  }

  .redes-sociais {
    width: 10em;
    height: 8em;
  }

  .contato {
    width: 10em;
    height: 10em;
  }

  .copyright {
    bottom: 0;
    right: 1em;
  }

  /* Modal Editar Perfil */
  .modal-content-config {
    border-radius: 10px;
    width: 22em;
    height: 75vh;
  }

  .modal-content-config h2 {
    margin-top: 35px;
  }

  .form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .form-row {
    display: flex;
    flex-direction: column;
  }

  .form-group {
    display: flex;
    flex-direction: column;
  }

  .calendar-icon {
    display: none;
  }
}

@media (max-width: 415px) {
  .modal-content-config {
    border-radius: 10px;
    width: 22em;
    height: 85vh;
  }
}

@media (max-width: 395px) {
  .modal-content-config {
    border-radius: 10px;
    width: 22em;
    height: 85vh;
  }
}