/* @media (min-width: 1920px) */

@media (min-width: 1324px) {
  /* começo perfil */
  .campo-perfil {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 40%;
    margin: 0;
    gap: 3em;
  }

  #perfil-usuario {
    margin: 0 0 0 5em;
  }

  .textos {
    display: flex;
    flex-direction: column;
  }

  .nome-usuario,
  .p-responsavel {
    font-family: "Poppins-semibold";
  }

  .nome-usuario {
    font-size: 26px;
  }

  .p-responsavel {
    color: #0098ff;
  }

  .nome-responsavel {
    font-family: "Poppins-regular";
    color: #1e1e1e;
  }

  #editar-perfil {
    font-family: "Poppins-medium";
    color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-decoration: none;
    margin: 0 0 0 68.7em;
  }
  /* final perfil */

  /* começo favoritos */
  .campo-favoritos {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 50%;
    margin: 2em 5em;
  }

  .titulo-favoritos {
    font-family: "Poppins-semibold";
    color: #1e1e1e;
  }

  .p-textos {
    font-family: "Poppins-regular";
    color: #757575;
    margin: 0.5em 0 1em 0;
  }

  .campo-locais {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 80%;
  }

  .lugar {
    width: 23em;
    height: 22em;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 0 5em;
  }

  .imagem-lugar {
    width: 336px;
    height: 252px;
    border-radius: 8px;
    margin: 1em;
  }

  .p-titulo-lugar {
    font-family: "Poppins-regular";
    color: #1e1e1e;
    margin: 0 1em;
  }

  .estrelas {
    display: flex;
    flex-direction: row;
    margin: 0 0.7em;
  }
  /* final favoritos */

  /* começo comentarios */
.campo-comentarios {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 35em;
  margin: 8em 5em;
}

}
